.b-page{
	&__main-wrap{
		background: url(../images/bg2.jpg);
		min-height: 100vh;
		padding: 50px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 320px;

		&:before{
			content: '';
			position: fixed;
			opacity: 0.5;
			background: linear-gradient(to top, #000000 0%, transparent 50%, #000000 100%);
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
	&__main{
		width: 100%;
		position: relative;
		z-index: 2;
	}
	&__title{
		color: #ffffff;
		font-family: $Exo;
		font-weight: 100;
		font-size: 36px;
		text-align: center;
	}
	&__packs-wrap{
		margin-top: 24px;
	}
}
