/**
** Пример подключения шрифтов. Файлы шрифтов необходимо поместить в папку src/resources/fonts
**/

$Trebushet: 'TrebuchetMS', sans-serif;
$Exo: 'EXO2', $Trebushet;

@font-face {
	font-family: 'EXO2';
	src: url('../fonts/Exo/exo2.0-thin-webfont.eot');
	src: url('../fonts/Exo/exo2.0-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo/exo2.0-thin-webfont.woff2') format('woff2'),
	url('../fonts/Exo/exo2.0-thin-webfont.woff') format('woff'),
	url('../fonts/Exo/exo2.0-thin-webfont.ttf') format('truetype'),
	url('../fonts/Exo/exo2.0-thin-webfont.svg#exo_2.0thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'TrebuchetMS';
	src: url('../fonts/TrebuchetMS/TrebuchetMS.eot');
	src: url('../fonts/TrebuchetMS/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TrebuchetMS/TrebuchetMS.woff') format('woff'),
	url('../fonts/TrebuchetMS/TrebuchetMS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TrebuchetMS';
	src: url('../fonts/TrebuchetMS/TrebuchetMS-Bold.eot');
	src: url('../fonts/TrebuchetMS/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TrebuchetMS/TrebuchetMS-Bold.woff') format('woff'),
	url('../fonts/TrebuchetMS/TrebuchetMS-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

