@mixin clearfix() {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin adaptive-desktop(){
	@media (min-width: $bp-desktop-min) {
		@content;
	}
}

@mixin adaptive-desktop-sm(){
	@media (min-width: $bp-desktop-sm-min) and (max-width: $bp-desktop-sm-max) {
		@content;
	}
}

@mixin adaptive-tablet(){
	@media (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) {
		@content;
	}
}

@mixin adaptive-mobile(){
	@media (max-width: $bp-mobile-max){
		@content;
	}
}

@mixin placeholder() {
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-moz-placeholder{
		@content;
	}
	&:-ms-input-placeholder{
		@content;
	}
	&.ui-placeholder {
		@content;
	}
}

@mixin mr($val) {
	margin-right: $val;
	&:last-child {
		margin-right: 0;
	}
}


@mixin mt($val) {
	margin-top: $val;
	&:first-child {
		margin-top: 0;
	}
}

@mixin mb($val) {
	margin-bottom: $val;
	&:last-child {
		margin-bottom: 0;
	}
}

@mixin ml($val) {
	margin-left: $val;
	&:first-child {
		margin-left: 0;
	}
}

@mixin hover() {
	&:hover {
		@content;
	}
}
