.b-pack-plates{
	&__wrapper{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -15px -40px 0;
	}
	&__pack{
		padding: 15px 40px;
	}
}

@mixin state_desktop-sm{
	.b-pack-plates{
		&__pack{
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

@mixin state_mobile{
	.b-pack-plates{
		&__wrapper{
			justify-content: center;
			margin: 0 -20px;
		}
		&__pack{
			flex-basis: 100%;
			max-width: 100%;
			display: flex;
			justify-content: center;
			padding: 0;
			@include mt(30px);
		}
	}
}

.b-pack-plates_adapt_default{
	@include adaptive-desktop-sm{
		@include state_desktop-sm;
	}
	@include adaptive-mobile {
		@include state_mobile;
	}
}
