.u-container{
	margin: 0 auto;
	max-width: $container-width;
	padding: 0 40px;

	@include adaptive-tablet{
		max-width: 100%;
		padding: 0 40px;
	}
	@include adaptive-mobile{
		max-width: 100%;
		padding: 0 20px;
	}
}
