.b-pack{
	$self: &;

	&__wrapper{
		width: 320px;
	}
	&__plate-wrap{
		cursor: pointer;

		&:hover{
			#{$self}__plate,
			#{$self}__plate-header:before,
			#{$self}__plate-header:after{
				border-color: #2ea8e6;
			}
			#{$self}__plate-weight {
				background: #2ea8e6;
			}
		}
	}
	&__plate{
		background: #f2f2f2;
		border: 4px solid #1698d9;
		border-top: none;
		border-radius: 11px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		height: 436px;
		transition: border-color .2s  ease-in-out;
	}
	&__promo-text{
		color: #666666;
		font-size: 16px;
		z-index: 5;
		position: relative;
	}
	&__plate-header{
		padding: 23px 50px 5px;
		position: relative;

		&:before, &:after{
			content: '';
			transition: border-color .2s  ease-in-out;
			position: absolute;
		}

		&:before{
			z-index: 1;
			top: 0;
			left: 22px;
			bottom:0;
			width: 50%;
			background: #f2f2f2;
			border: 4px solid #1698d9;
			border-bottom: none;
			border-right: none;
			transform: skewX(-45deg);
		}
		&:after{
			z-index: 2;
			top: 0;
			right: 0;
			bottom:0;
			width: 51%;
			background: #f2f2f2;
			border: 4px solid #1698d9;
			border-top-right-radius: 11px;
			border-bottom: none;
			border-left: none;
		}
	}
	&__plate-text{
		padding: 5px 45px 0;
		flex: 1;
	}
	&__title{
		font-size: 48px;
		font-weight: bold;
	}
	&__subtitle{
		font-size: 24px;
		font-weight: bold;
		margin-top: 4px;
	}
	&__prop-item{
		line-height: 16px;
	}
	&__prop{
		font-size: 14px;
		color: #666666;
		display: inline;

		&_counter{
			font-weight: bold;
		}
	}
	&__props-list{
		margin-top: 17px;
	}
	&__plate-img{
		height: 268px;
		overflow: hidden;
		position: relative;
	}
	&__img{
		vertical-align: bottom;
		max-height: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	&__footer{
		margin-top: 14px;
	}
	&__footer-text{
		color: #ffffff;
		text-align: center;
		font-size: 13px;

		&_selected, &_disabled{
			display: none;
		}

	}
	&__plate-weight{
		border-radius: 50%;
		background: #1698d9;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 11px;
		bottom: 11px;
		min-width: 80px;
		transition: background .2s ease-in-out;
		height: 80px;
	}
	&__weight{
		color: #ffffff;

		&_value{
			font-size: 42px;
		}
		&_measure{
			font-size: 21px;
		}
	}
	&__weight-holder{
		text-align: center;
		margin-bottom: -4px;
	}
	&__action-link{
		color: #1698d9;
		display: inline-block;
		border-bottom: 1px dashed #1698d9;

		&:hover{
			color: #2ea8e5;
		}
	}
}

.b-pack_selected{
	$self: '.b-pack';

	.b-pack{
		&__plate{
			border-color: #d91667;
		}
		&__plate-header{
			&:before, &:after{
				border-color: #d91667;
			}
		}
		&__plate-weight{
			background: #d91667;
		}
		&__plate-wrap{
			cursor: pointer;

			&:hover{
				#{$self}__plate,
				#{$self}__plate-header:before,
				#{$self}__plate-header:after{
					border-color: #e62e7a;
				}
				#{$self}__plate-weight {
					background: #e62e7a;
				}
			}
		}
		&__footer-text{
			display: none;

			&_selected{
				display: block;
			}
		}
	}
}

.b-pack_disabled{
	.b-pack{
		$self: '.b-pack';

		&__plate{
			border-color: #b3b3b3;
		}
		&__plate-header{
			&:after, &:before{
				border-color: #b3b3b3;
			}
		}
		&__promo-text, &__title, &__subtitle, &__prop{
			color: #b3b3b3;
		}
		&__img{
			opacity: 0.5;
		}
		&__plate-weight{
			background: #b3b3b3;
		}
		&__footer-text{
			color: #ffff66;
			display: none;

			&_disabled{
				display: block;
			}
		}
		&__plate-wrap{
			cursor: auto;
			&:hover{
				#{$self}__plate,
				#{$self}__plate-header:before,
				#{$self}__plate-header:after{
					border-color: #b3b3b3;
				}
				#{$self}__plate-weight {
					background: #b3b3b3;
				}
			}
		}
	}
}
