mixin b-pack(data)
	-
		if(!data) var data = {}
		var config = data.config !== undefined ? data.config : undefined;
	+b.b-pack(class=attributes.class data-config=config)
		+e.wrapper
			+e.plate-wrap
				if data.promoText
					+e.plate-header
						+e.promo-text!= data.promoText
				+e.plate
					+e.plate-text
						if data.title
							+e.title!= data.title
						if data.subtitle
							+e.subtitle!= data.subtitle
						if data.props
							+e.props-list
								each prop in data.props
									+e.prop-item
										if prop.counter
											+e.prop._counter!= prop.counter
										+e.prop._text!= prop.text
					if data.img
						+e.plate-img
							+e.img(src=data.img)
					if data.weight
						+e.plate-weight
							+e.weight-holder
								+e.weight._value!= data.weight.value || '0'
								+e.weight._measure!= data.weight.measure || 'кг'
			if data.footer
				+e.footer
					if data.footer.textDefault
						+e.footer-text!= data.footer.textDefault
					if data.footer.textSelected
						+e.footer-text._selected!= data.footer.textSelected
					if data.footer.textDisabled
						+e.footer-text._disabled!= data.footer.textDisabled




