extends /pages/_layouts/_default

block content

	include /blocks/project/b-pack-plates/b-pack-plates

	.u-container
		+e.kitty-block
			+e.H1.title Ты сегодня покормил кота?
			+e.packs-wrap
				+b-pack-plates._adapt_default
					+e.pack
						+b-pack({
							promoText: 'Сказочное заморское яство',
							title: 'Нямушка',
							subtitle: 'с фуа-гра',
							props: [
								{counter: '10', text: 'порций'},
								{text: 'мышь в подарок'},
							],
							img: '/assets/images/kitty.png',
							weight: {value: '0,5'},
							footer: {
								textDefault: 'Чего сидишь? Порадуй котэ, <a href="#" class="b-pack__action-link" >купи.</a>',
								textSelected: 'Печень утки разварная с артишоками.',
								textDisabled: 'Печалька, с фуа-гра закончился.'
							},
						})
					+e.pack
						+b-pack({
							promoText: 'Сказочное заморское яство',
							title: 'Нямушка',
							subtitle: 'с рыбой',
							props: [
								{counter: '40', text: 'порций'},
								{counter: '2', text: 'мыши в подарок'},
							],
							img: '/assets/images/kitty.png',
							weight: {value: '2'},
							footer: {
								textDefault: 'Чего сидишь? Порадуй котэ, <a href="#" class="b-pack__action-link" >купи.</a>',
								textSelected: 'Головы щучьи с чесноком да свежайшая сёмгушка.',
								textDisabled: 'Печалька, с рыбой закончился.'
							},
						})
					+e.pack
						+b-pack({
							promoText: 'Сказочное заморское яство',
							title: 'Нямушка',
							subtitle: 'с курой',
							props: [
								{counter: '100', text: 'порций'},
								{counter: '5',text: 'мышей в подарок'},
								{text: 'заказчик доволен'},
							],
							img: '/assets/images/kitty.png',
							weight: {value: '5'},
							footer: {
								textDefault: 'Чего сидишь? Порадуй котэ, <a href="#" class="b-pack__action-link" >купи.</a>',
								textSelected: 'Филе из цыплят с трюфелями в бульоне.',
								textDisabled: 'Печалька, с курой закончился.'
							},
							config: {selfStateID: 3}
						})







