include /../node_modules/bemto.pug/bemto
include /blocks/library/icon/icon
include /blocks/library/scripts/scripts

block global_vars
	- $pageMods = []

doctype html
html(lang='ru')
	include /blocks/library/head/head
	block body
		+b('body').b-page(class=$pageMods)
			+e.main-wrap
				block header
				+e.main
					block content

				block footer

			+scripts(['main.min.js'])
